@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }
}

@layer components {
  .app {
    @apply bg-primary font-dm-sans;
  }

  .app__whitebg {
    @apply bg-white;
  }

  .app__primarybg {
    @apply bg-primary;
  }

  .app__container {
    @apply w-full min-h-screen flex flex-row;
  }

  .app__flex {
    @apply flex justify-center items-center;
  }

  .app__wrapper {
    @apply flex-1 w-full flex flex-col p-4 sm:p-8 md:p-4 lg:p-8;
  }

  .copyright {
    @apply w-full pt-8 flex flex-col justify-end items-end;
  }

  .copyright p {
    @apply text-black/70;
  }

  .head-text {
    @apply font-extrabold text-center text-black capitalize text-2xl md:text-5xl;
  }

  .head-text span {
    @apply text-secondary;
  }

  .p-text {
    @apply text-sm text-left text-gray leading-relaxed md:text-lg;
  }

  .bold-text {
    @apply text-base font-extrabold text-left text-black sm:text-sm md:text-xl;
  }

  .app__social {
    @apply flex flex-col justify-end gap-2 items-center p-4;
  }

  .app__social div {
    @apply w-10 h-10 rounded-full bg-white border border-lightGray flex justify-center items-center transition-all duration-300 ease-in-out hover:bg-secondary hover:border-secondary;
  }

  .app__social div svg {
    @apply w-4 h-4 text-gray;
  }

  .app__navigation {
    @apply flex flex-col justify-center items-center p-4;
  }

  .app__navigation-dot {
    @apply w-2.5 h-2.5 rounded-full bg-gray m-2 transition-all duration-200 ease-in-out hover:bg-secondary;
  }

  /* Navbar */
  .app__navbar {
    @apply w-full flex justify-between items-center p-4 bg-white/25 fixed z-20 border border-white/20;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  .app__navbar-logo {
    @apply flex justify-start items-center;
  }

  .app__navbar-logo img {
    @apply w-[30px] h-[30px];
  }

  .app__navbar-links {
    @apply flex-1 flex justify-center items-center list-none;

    li {
      @apply mx-4 cursor-pointer flex flex-col;

      div {
        @apply w-[5px] h-[5px] bg-transparent rounded-full mb-1;
      }

      a {
        @apply text-gray uppercase font-medium transition-all duration-300 ease-in-out;

        &:hover {
          @apply text-secondary;
        }
      }

      &:hover div {
        @apply bg-secondary;
      }
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  .app__navbar-menu {
    @apply w-[35px] h-[35px] rounded-full relative flex justify-center items-center bg-secondary;

    svg {
      @apply w-[70%] h-[70%] text-white;
    }

    div {
      @apply fixed top-0 bottom-0 right-0 z-50 p-4 w-full sm:w-[50%] h-screen flex flex-col justify-end items-end bg-[url('./assets/bgWhite.png')] bg-cover bg-repeat bg-white shadow-lg;

      svg {
        @apply w-[35px] h-[35px] text-secondary m-2;
      }

      ul {
        @apply list-none m-0 p-0 w-full h-full flex flex-col justify-start items-start;

        li {
          @apply m-4;

          a {
            @apply text-gray uppercase font-medium text-lg transition-all duration-300 ease-in-out;

            &:hover {
              @apply text-secondary;
            }
          }
        }
      }

      @media (min-width: 900px) {
        display: none;
      }
    }

    @media (min-width: 900px) {
      display: none;
    }
  }
  /* Navbar */

  /* Header */
  #home {
    @apply relative bg-cover bg-[url('./assets/bgIMG.png')] bg-center bg-repeat;

    .app__wrapper {
      @apply p-0;

      .copyright {
        @apply hidden;
      }
    }
  }

  .app__header {
    @apply flex w-full h-full flex-col gap-10 sm:pt-24 sm:px-4 sm:pb-8 xl:flex-row pt-24 px-4 pb-0 2xl:pt-32;
  }

  .app__header-info {
    @apply flex-[0.65] flex flex-col justify-start items-start h-full md:mx-8 xl:w-full xl:mr-0;
  }

  .app__header-badge {
    @apply w-full flex flex-col justify-end items-end;

    .badge-cmp,
    .tag-cmp {
      @apply p-4 bg-white rounded-lg flex-row w-auto shadow-lg;
    }

    .tag-cmp {
      @apply flex-col mt-12;

      p {
        @apply w-full uppercase text-right;
      }
    }

    span {
      @apply text-4xl 2xl:text-5xl;
    }

    @apply xl:justify-start xl:items-start;
  }

  .app__header-circles {
    @apply flex-[0.75] flex xl:flex-col gap-5 justify-evenly items-start h-full xl:ml-4;

    div {
      @apply w-24 h-24 rounded-full bg-white shadow-lg;

      img {
        @apply w-[60%] h-[60%];
      }
    }

    div:nth-child(1) {
      @apply w-16 h-16 md:w-24 md:h-24 2xl:w-48 2xl:h-48;
    }

    div:nth-child(2) {
      @apply my-7 w-20 h-20 md:w-36 md:h-36 2xl:w-[300px] 2xl:h-[300px];
    }

    div:nth-child(3) {
      @apply w-12 h-12 md:w-16 md:h-16 2xl:w-[170px] 2xl:h-[170px];
    }

    @apply xl:w-full xl:flex-row xl:flex-wrap xl:ml-0;

    div {
      @apply xl:m-4;
    }
  }

  .app__header-img {
    @apply flex-1 h-full flex justify-end items-end relative xl:my-8;

    img {
      @apply w-full object-contain z-10;
    }

    .overlay_circle {
      @apply absolute inset-x-0 bottom-0 z-0 w-full h-[90%];
    }
  }
  /* Header */

  /* About */
  .app__about {
    @apply flex flex-col w-full;
  }

  .app__profiles {
    @apply flex justify-center items-start flex-wrap mt-8;
  }

  .app__profile-item {
    @apply w-full sm:w-[190px] flex flex-col justify-start items-start m-6;

    img {
      @apply w-full sm:h-[190px] rounded-[15px] object-cover;
    }

    @apply xl:w-[200px] 2xl:w-[350px] 2xl:mx-16;

    img {
      @apply xl:h-[200px] 2xl:h-[350px];
    }
  }
  /* About */

  /* Work */
  .app__works {
    @apply flex-1 w-full flex flex-col;
  }

  .app__work-filter {
    @apply flex flex-row md:justify-center items-center my-16 mb-8 overflow-x-scroll whitespace-nowrap;

    /* Kustom CSS untuk menyembunyikan scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    &::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
    }

    .app__work-filter-item {
      @apply px-4 py-2 rounded-lg bg-white text-black font-extrabold cursor-pointer xl:px-8 xl:py-4 xl:rounded-xl transition-all duration-300 ease-in-out m-2;

      &:hover {
        @apply bg-secondary text-white;
      }
    }

    .item-active {
      @apply bg-secondary text-white;
    }
  }

  .app__work-portfolio {
    @apply flex flex-wrap justify-center items-center;

    .app__work-item {
      @apply w-full md:w-[250px] xl:w-[320px] 2xl:w-[600px] flex flex-col m-2 md:m-5 p-4 rounded-lg bg-white text-black sm:m-4 xl:p-5 xl:rounded-xl cursor-pointer transition-all duration-300 ease-in-out;

      &:hover {
        @apply shadow-lg;
      }
    }
  }

  .app__work-img {
    @apply w-full h-[230px] relative xl:h-[250px] 2xl:h-[480px];

    img {
      @apply w-full h-full rounded-lg object-cover;
    }
  }

  .app__work-hover {
    @apply absolute inset-0 w-full h-full bg-black bg-opacity-50 rounded-lg opacity-0 transition-opacity duration-300 ease-in-out;

    &:hover {
      @apply opacity-100;
    }

    div {
      @apply w-12 h-12 rounded-full bg-black bg-opacity-50 text-white m-4 font-extrabold cursor-pointer transition-all duration-300 ease-in-out;

      svg {
        @apply w-1/2 h-1/2 text-white;
      }
    }
  }

  .app__work-content {
    @apply p-2 w-full relative flex flex-col;

    h4 {
      @apply 2xl:my-4 leading-6 md:mt-10;
    }

    .app__work-tag {
      @apply absolute px-4 py-2 rounded-xl bg-white -top-6;
    }
  }
  /* Work */

  /* Skills */
  .app__skills {
    @apply flex flex-col w-full;
  }

  .app__skills-container {
    @apply w-full mt-12 flex flex-col lg:flex-row;
  }

  .app__skills-list {
    @apply flex flex-1 flex-wrap lg:justify-start lg:items-start lg:mr-20 lg:mt-8 mr-0 justify-center items-center;
  }

  .app__skills-item {
    @apply flex-col text-center m-4 transition-all ease-in-out duration-300;

    div {
      @apply w-16 h-16 rounded-full bg-[#fef4f5] flex justify-center items-center sm:w-20 sm:h-20 xl:w-24 xl:h-24 2xl:w-36 2xl:h-36;

      img {
        @apply w-1/2 h-1/2;
      }

      &:hover {
        box-shadow: 0 0 25px #fef4f5;
      }
    }

    p {
      @apply font-medium mt-2 xl:mt-4;
    }
  }

  .app__skills-exp {
    @apply flex flex-1 flex-col justify-start items-start md:mt-8;
  }

  .app__skills-exp-item {
    @apply w-full flex flex-row justify-start items-start m-4;
  }

  .app__skills-exp-works {
    @apply flex-1;

    .app__skills-exp-work {
      @apply flex flex-col justify-start items-start mb-4 cursor-pointer;

      h4 {
        @apply font-medium;
      }

      p {
        @apply font-normal text-gray mt-1;
      }
    }
  }

  .app__skills-exp-year {
    @apply sm:mr-12 mr-4;

    p {
      @apply font-extrabold text-secondary;
    }
  }

  .skills-tooltip {
    @apply max-w-xs bg-white shadow-lg rounded-lg p-4 text-gray text-center leading-6 opacity-100 xl:text-2xl xl:max-w-lg xl:leading-8;
  }

  /* Skills */
}

@layer utilities {
  @media (max-width: 500px) {
    .app__navigation,
    .app__social {
      display: none;
    }

    .copyright {
      padding: 2rem;
    }
  }

  @media (min-width: 2000px) {
    .head-text {
      font-size: 4rem;
    }

    .p-text {
      font-size: 1.75rem;
    }

    .bold-text {
      font-size: 2rem;
    }

    .app__social div {
      width: 70px;
      height: 70px;
      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    .app__navigation-dot {
      width: 20px;
      height: 20px;
    }
  }
}
